<!DOCTYPE html>
<html>

<head>
  <title>SkinCare Rack App</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <%- include('./partials/css.ejs') %>
</head>

<body>
  <h1>SkinCare Rack App</h1>
  <p>Welcome to SkinCare Rack App</p>
  <button onclick="window.location.href='/products'"> All Products</button>
  <button onclick="window.location.href='/2/rack'"> My Rack</button>
</body>

</html>

</body>

</html>