<!DOCTYPE html>
<html>

<head>
    <title>
        Product Creation
    </title>
    <%- include('./partials/css.ejs') %>
</head>

<body>
    <h1>
        Product Creation
    </h1>
    <a href="/products">
        <button>See All Products</button></a>
    <p>Input the product details and click save to add a new product to the database.
    </p>

    <form action="/products/add" method="POST">
        <div class="mb-3">
            <label class="form-label">
                Product Name
                <input type="text" name="name" class="form-control" />
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                Type (e.g. lotion, cream, etc.)
                <input type="text" name="type" class="form-control" />
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                Price ($)
                <input type="text" name="price_in_usd" class="form-control" />
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">
                Size (g)
                <input type="text" name="size_in_grams" class="form-control" />
            </label>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>



    <footer>Made by Yufei (Charlotte) Mei</footer>
</body>

</html>